@import 'bootstrap/scss/utilities';

$utilities: map-merge(
  $utilities,
    ("rounded": (
      property: border-radius,
      class: rounded,
      values: (
        null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius,
        3: $border-radius-lg,
        5: 5px,
        10: 10px,
        10: '10px',
        circle: 50%,
        pill: $border-radius-pill )),
    )
);

$border-widths: (
  10: 10px,
  );
  
  @import '../node_modules/bootstrap/scss/bootstrap'